.sidebar {
  width: autopx;
  background-color: #ffffff;
  color: black;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  padding: 28px;
  height: 107vh;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-bottom: 20px;
}

.sidebar-logo-icon {
  width: 40px;
  margin-right: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  padding: 10px;
  border-radius: 5px;
}

.menu-item img {
  width: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}

.logout-section {
  margin-top: 400px;
  display: flex;
  align-items: center;
}

.logout-icon {
  width: 24px;
  margin-right: 10px;
}

.logout-btn {
  color: red;
  border: none;
  padding: 10px 15px;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 500;
  font-family: Poppins;
  font-size: 20px;
  transition: background-color 0.3s;
}

.logout-btn:hover,
.logout-btn.active {
  background-color: #4391ed1a;
}

.logout-confirm-btn,
.logout-cancel-btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.logout-popup-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  font-size: 20px;
  font-family: "poppins";
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logout-confirm-btn {
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  width: 350px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #17a2b8;
  border-radius: 15px;
}

.logout-cancel-btn {
  background-color: transparent;
  color: #cf3636;
  border: none;
  width: 350px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #cf3636;
  border-radius: 15px;
  margin-top: 20px;
}
